#results .tab {
  width: 100%;
  border: 1px solid black;
  margin-bottom: 10px;
}
#results .header {
  width: 100%;
  background-color: var(--ancyan);
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: white;
  cursor: pointer;
}
#results .header div {
  margin: 10px;
}
#results .logo {
  float: left;
}
#results .tab .enabled {
  color: var(--ancyan);
  cursor: pointer;
}
#results .tab .disabled {
  color: grey;
  cursor: pointer;
}
.pagination {
  padding: 10px;
}

/*result */

.result {
  display: flex;
  align-items: center;
  justify-content: left;
  flex-wrap: wrap;
  margin-left: 20px;
}
.result .info {
  display: flex;
  align-items: flex-start;
  flex-wrap: wrap;
  flex-direction: column;
}
.result .identifier {
  color: var(--ancyan);
}
.result .cover {
  margin-right: 20px;
}
.info div {
  display: flex;
}
