#sources {
  width: 70%;
  position: relative;
  left: 15%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
#sources .source {
  width: 200px;
  height: 200px;
  box-shadow: 0 0 3px black;
  border-radius: 20px;
  margin: 10px;
  cursor: pointer;
}
#sources .logo {
  width: 100%;
}
#sources .logowrap {
  width: 100%;
  height: 70%;
  border-bottom: 1px solid black;

  display: flex;
  justify-content: center;
  align-items: center;

  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}
#sources .namewrap {
  display: flex;
  justify-content: center;
  align-items: center;
}
#sources .name {
  text-align: center;
  font-size: 13px;
}

#results .tab {
  width: 100%;
  border: 1px solid black;
}
#results .header {
  width: 100%;
  background-color: var(--ancyan);
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: white;
}
#results .header div {
  margin: 10px;
}
#results .logo {
  float: left;
}
