#sources {
  width: 70%;
  position: relative;
  left: 15%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
#sources .source {
  width: 200px;
  height: 200px;
  box-shadow: 0 0 3px black;
  border-radius: 20px;
  margin: 10px;
  cursor: pointer;
}
#sources .logo {
  width: 100%;
}
#sources .logowrap {
  width: 100%;
  height: 60%;
  border-bottom: 1px solid black;

  display: flex;
  justify-content: center;
  align-items: center;

  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}
#sources .namewrap {
  height: 40%;
  display: flex;
  justify-content: center;
  align-items: center;
}
#sources .name {
  text-align: center;
  font-size: 14px;
}
